@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

:root {
  --secondary-brown: #c56c39;
  --cream: #F3ECD3;
  --offwhite: #FDFBF1;
  --green: #69a24f;
}

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

.text-forest {
  color: var(--bs-secondary);
}

.text-cream {
  color: var(--cream);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}