@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

:root {
  --secondary-brown: #c56c39;
  --cream: #F3ECD3;
  --offwhite: #FDFBF1;
  --green: #69a24f;
}

.card {
  background-color: var(--offwhite);
}

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

.text-forest {
  color: var(--bs-secondary);
}

.text-offwhite {
  color: var(--offwhite);
}

.text-cream {
  color: var(--cream);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.H_ib_body {
  margin-right: -250px !important;
}

.H_ib_content {
  min-width: 500px !important;
}

.H_ib_content img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .H_ib_body {
    margin-right: -150px !important;
  }

  .H_ib_content {
    min-width: 300px !important;
  }
}